.DS_Store
debug*
Models/
*/model/
*/checkpoints/
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/**/__pycache__
*.png
*.html
*.npy
*.mat
frame*.txt
*.wav
*.mp4
*.mov
*.webm
*.bin